.container-header{
    display: flex;
}
.container-header nav {
    background-color: rgb(75, 63, 245);
    line-height: 40px;
    margin: 30px;
    padding: 10px;
    border-radius: 30px;
}
.container-header nav a{
    text-decoration: none;
    color: white;
    margin: 20px;
    padding: 5px;
    font-size: 20px;
}
.container-header nav a:hover{
    background-color: lightcoral;
    border-radius: 40px;
    padding: 10px;
    color: black;
}
.logo{
    height: 100px;
    width: 100px;
    margin: 10px;
    margin-right: 500px;
    border: 10px double rgb(228, 114, 114);
    border-radius: 50%;
}
.logo:hover{
    height: 110px;
    width: 110px;
    margin: 3px;
    margin-right: 490px;
}
